:root {
    --primario: #CCD5AE;
    --primarioOscuro: #D4A373;
    --secundarioOscuro: #6b705c;
    --secundario: #723d46;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;

}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/** Globales **/

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/*header*/

.header {
    display: flex;
    justify-content: center;
}
.linea-vertical {
    display: inline;
    border-left: 1px solid rgb(66, 64, 64);
    padding: 1rem;
}

.header__logo {
    display: none;
}

/* Footer */

.footer {
    background-color: var(--primarioOscuro);
    padding: 2rem 2rem;
    margin-top: 2rem;
    display: block;
    text-align: center;
}

ul .navegacion__link {
    font-size: 2rem;
}


ul {
    list-style-type: none;
}

.footer__texto {
    margin: auto;
    text-align: center;
}

.social {
    margin: auto;
    width: 20rem;
    text-align: center;
}

.social__logo {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social__logo img {
    height: 4rem;
    width: 4rem;
}

/* card */

@keyframes agrandar {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(1.8);
    }
}

.card {
    display: grid;
    padding: .8em;
    background: var(--primarioOscuro);
    margin: .5rem;
}

.card-img {
    background-color: var(--primario);
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 30px;
    height: 30px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Button*/
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: var(--secundario);
    animation: agrandar 1s;
    animation-fill-mode: forwards;
}


/*navegacion*/


.banner img {
    width: 100%;
    height: 30rem;
}

.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
}

.navegacion a {
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    color: var(--secundario);
}


.boton {
    background-color: var(--primarioOscuro);
}

/* productos */



.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}



.grafico {
    min-height: 30rem;
    grid-column: 1 / 3;
    background-size: cover;
}

.grafico--camisas {
    grid-row: 2/3;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

.grafico--node {
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 6 / 8;
    margin: auto;
}




/*sobre nosotros*/

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    margin: 0 auto;
}

.nosotros__contenido {
    margin: 0 1rem;
}


.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%;
    margin: 0 1rem;
}



/*seccion bloques*/


.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin: 10rem auto;
}

.bloque__imagen {
    width: 50%;
}

.bloque {
    margin: 1rem;
    text-align: center;
    background-color: var(--primarioOscuro);
    border-radius: 1rem;
}

.bloque__titulo {
    margin: 0;
}

.camisa {
    padding: 2rem;
}



/* formularios*/


.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.formulario__campo {
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
    width: 100%;
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color ease 1s;
    grid-column: 1 / 3;
    text-align: center;

}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--primarioOscuro);
}

.carousel img {
    height: 30rem;
}




.line {
    width: 100%;
    margin: 4rem 0;
}





@media (min-width: 768px) {
    .header__logo {
        display: inline;
        margin: 3rem 0;
        height: 25rem;
        width: auto;
        
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grafico--node {
        grid-row: 4 / 5;
        grid-column: 3 / 5;
    }

    .nosotros {
        grid-template-columns: 50% 50%;
    }

    .nosotros__contenido {
        margin: 0 1rem;
    }

    .nosotros__imagen {
        grid-column: 2 / 3;
    }

    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }

    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .footer {
        background-color: var(--primarioOscuro);
        padding: 4rem 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }

    .social {
        margin: auto 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

}

